.cover{
    -fx-background-image: url("../assests/BakucW.jpg");
    -fx-background-color: #000;
    -fx-background-repeat: stretch;
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.loaderBackground{
    -fx-background-image: url("../assests/BakucW.jpg");
    -fx-background-color: #000;
    -fx-background-repeat: stretch;
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
.bar {
   // -fx-accent: #3569bb;
    -fx-background-color: rgba(74, 57, 174, 0.98);
}
.login-text-field{
    -fx-background-color: transparent;
}

.text-field {
    -fx-prompt-text-fill: white;
    -fx-font-weight: bold;

}
input[type="text"] {
    color: #0000ff;
}
.colorChange:hover{
    -fx-background-color: #5b6c87;
//-fx-accent: #0093ff;
}
.colorChange:focused{
    -fx-background-color: #a4a2ac;
}

.button-save{
    -fx-background-color: #ffffff;
    -fx-border-color: #0d9035;
    -fx-text-fill: #0d9035;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.button-save:hover{
    -fx-background-color: #0d9035;
    -fx-border-color: #0d9035;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}

.button-update{
    -fx-background-color: #ffffff;
    -fx-border-color: #ff9f0a;
    -fx-text-fill: #ff9f0a;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.button-update:hover{
    -fx-background-color: #ff9f0a;
    -fx-border-color: #ff9f0a;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}

.button-remove{
    -fx-background-color: #ffffff;
    -fx-border-color: #ff422b;
    -fx-text-fill: #ff422b;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.button-remove:hover{
    -fx-background-color: #ff422b;
    -fx-border-color: #ff422b;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}

.button-search{
    -fx-background-color: #ffffff;
    -fx-border-color: #538eff;
    -fx-text-fill: #538eff;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.button-search:hover {
    -fx-background-color: #538eff;
    -fx-border-color: #538eff;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}
